{% extends "plantillas/plantilla.html" %}

{%load static %}

{% block titulo %} Contacto Petrocentro S.A.S{% endblock %}

{% block nav %}


    <!-- Barra de navegacion-->
   


{% endblock  %}

{% block contenido %} 

    <!-- Contacto, formulario, mapa y demás-->
    <div class="container">
        <div class="contacto">

            <!-- Formulario de contacto de la empresa-->
            <div class="formulario color">
                <h1>CONTÁCTANOS</h1>
                <p class="comentario">Nos encanta recibir a nuestros clientes, así que ven o escríbenos en cualquier momento durante las horas de oficina.</p>
                
                <!-- Formulario de contactanos-->
                <form action="{% url 'contacto_correo' %}" method="post" id="contactForm">
                    {% csrf_token %}
                    <input class="input" type="text" placeholder="Nombre*" name="nombre" required>
                    <br>
                    <br>
                    <input  class="input" type="email" placeholder="Email*" name="correo" required> 
                    <br><br>
                    <input class="input" type="number" placeholder="Teléfono(opc)" name="numero" >
                    <br>
                    <br>
                    <input class="input" type="text" placeholder="Que podremos hacer por ti?" name="mensaje" required>
                    <br>
                    <br>
                    <input class="button" type="submit" name="enviar" value="Enviar">
                </form>
                <!-- Informacion de contacto de la empresa-->
                <div class="con">

                    <p class="telefono"><i class="fa-solid fa-envelope"></i></i> &nbsp; EMAIL: <span class="bold">gerenciaoperaciones@petrocentro.co</span></p>
                    <p class="telefono"> <i class="fa-solid fa-phone"></i> &nbsp;TELEFONO:<span class="bold">+57&nbsp;313&nbsp;8414053</span> </p>

                    <p class="telefono" > <i class="fa-solid fa-location-dot"> &nbsp; </i> UBICACIÓN:<span class="bold">Pirámide Siete II, Avenida Calle 127 #13-96, Bogotá, Colombia</span></p>
               

                    
                </div>

                <!-- Informacion de contacto para dipositivos mobiles-->
                <div class="accordion accordion-flush horario2 " id="accordionFlushExample" >
                    <div class="accordion-item ">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Contacto
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"><p class="telefono"> <i class="fa-solid fa-envelope"></i> EMAIL: <span class="bold">gerenciaoperaciones@petrocentro.co</span></p>
                            <p class="telefono"> <i class="fa-solid fa-phone"></i></i> TELEFONO:<span class="bold">+57&nbsp;316&nbsp;4060347</span> </p></div>
                        </div>
                        </div>
                    <div class="accordion-item pt-2">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Ubicacion
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="telefono" > <i class="fa-solid fa-location-dot"></i> UBICACIÓN:<span class="bold">Pirámide Siete II, Avenida Calle 127 #13-96, Bogotá, Colombia</span></p>
                            
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item pt-2">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                         Horario
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                            <li> Lunes
                                <ul>
                                    <li>08:30 a. m. – 05:30 p. m. </li>
                                </ul>
                            </li>   
                            <li> Martes
                                <ul>
                                    <li>08:30 a. m. – 05:30 p. m. </li>
                                </ul>
                            </li>
                            <li> Miercoles
                                <ul>
                                    <li>08:30 a. m. – 05:30 p. m. </li>
                                </ul>
                            </li>
                            <li> Jueves
                                <ul>
                                    <li>08:30 a. m. – 05:30 p. m. </li>
                                </ul>
                            </li>
                            <li> Viernes
                                <ul>
                                    <li>08:30 a. m. – 05:30 p. m. </li>
                                </ul>
                            </li>
                        </ul></div>
                    </div>
                  </div>
            </div>
        </div>
            
            <!-- Mapa de como llegar a la empresa-->
        <div class="mapa color ">
            <iframe class="mapa1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.0943013157107!2d-74.04049583038243!3d4.704361836291394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f8535456f7c8f%3A0x924437162d13870e!2sPetrocentro%20S.A.S.!5e0!3m2!1ses-419!2sco!4v1715290216734!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="True" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- Horario de atencion de la empresa-->
            <div class="horario">
                <h1>Horario</h1>
                <ul>
                    <li> Lunes
                        <ul>
                            <li>08:30 a. m. – 05:30 p. m. </li>
                        </ul>
                    </li>
                    <li> Martes
                        <ul>
                            <li>08:30 a. m. – 05:30 p. m. </li>
                        </ul>
                    </li>
                    <li> Miercoles
                        <ul>
                            <li>08:30 a. m. – 05:30 p. m. </li>
                        </ul>
                    </li>
                    <li> Jueves
                        <ul>
                            <li>08:30 a. m. – 05:30 p. m. </li>
                        </ul>
                    </li>
                    <li> Viernes
                        <ul>
                            <li>08:30 a. m. – 05:30 p. m. </li>
                        </ul>
                    </li>
                </ul>
            </div>
        
        </div>
    </div>
     
    <!-- Boton que redirige al whatsApp de la empresa-->
    <div class="whatsapp">
        <button onclick="window.location.href='https://wa.me/3138414053' "  >Contactar por WhatsApp &nbsp; <i class="fa-brands fa-whatsapp"></i></button>
    </div>
        
    </div>
{% endblock %}
{% block script %}
<script>
    document.getElementById('contactForm').addEventListener('submit', function(e){
        e.preventDefault();
        
        Swal.fire({
                title: 'Enviando...',
                text: 'Por favor espere mientras se procesa el formulario',
                icon: 'info',
                allowOutsideClick: false,
                showConfirmButton: false,
                willOpen: () => {
                Swal.showLoading();
                }
        });
        
        // Envía el formulario
        this.submit();
        });
    
</script>
{% endblock  %}


