{% extends "plantilla/base_blog.html" %}
{% load static %}
{% block titulo_pagina %} Blog Economia {% endblock titulo_pagina %} 
{% block imagen %}
{% static 'images/economia.webp' %}
{% endblock imagen %}

{% block titulo %}
<h1>BLOG <br> ECONOMIA</h1>
<p style="color: #fff; font-size: 22px; font-weight: 400; margin-top: 10px;">Blog Técnico de Petrocentro – Innovación y Servicios Oil & Gas en Colombia</p>
{% endblock titulo %}

{% block content %}
    {{ block.super }}
{% endblock %}
