


body, html {
  font-family:"Helvetica";  
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.alerta .alert{
  display: absolute;
  top: 10%;
}
.arrow{
  font-size: 25px;
  z-index:2;
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;

}
.arrow a{
  color: #5D9A0F;
}

.links-a{
  text-align: center;

}
.links-a a{
  color: #000000;
  text-decoration: none;
  transition: font-size 500ms ease;
}
.links-a a:hover{
  font-size: 17px;
}
.contenedor-inicio {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s forwards;
}

.form-contenedor_inicio {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-contenedor_inicio h2 {
  margin-bottom: 20px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  
}

.form-contenedor_inicio form {
  display: flex;
  flex-direction: column;
}

.form-contenedor_inicio label {
  font-family: 'Helvetica';
  font-style: normal;
  
  margin-bottom: 10px;
  font-weight: bold;
}

.form-contenedor_inicio input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-contenedor_inicio button {
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #5D9A0F;
  color: white;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.form-contenedor_inicio button:hover {
  background-color: #266636;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
}

.image-container img {
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
}

@keyframes slideIn {
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contenedor-inicio{
      flex-direction: column;
  }

  .image-container {
      order: -1; /* Move the image container to the top */
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }

  .image-container img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }

  .form-contenedor_inicio {
      padding: 20px;
  }
}

