{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo%} {%endblock%}</title>
    <!--Links css-->
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
    <link rel="stylesheet" href="{% static 'css/men.css' %}">
    <link rel="stylesheet" href="{% static 'css/suscribe.css ' %}">
    <link rel="icon" type="image/svg" href="//img1.wsimg.com/isteam/ip/b5281c19-a452-4fcf-8fe3-52526d22264d/favicon/0f12c11a-45a3-45e8-bc8e-c002b22ab2e1.png/:/rs=w:64,h:64,m" >
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- AOS css-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css" integrity="sha512-U9Y1sGB3sLIpZm3ePcrKbXVhXlnQNcuwGQJ2WjPjnp6XHqVTdgIlbaDzJXJIAuCTp3y22t+nhI4B88F/5ldjFA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!--Font Awesome -->

    <!-- WhatsApp-->
    <link rel="stylesheet" href="{% static '/plugin/components/Font Awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static '/plugin/whatsapp-chat-support.css'%}">
    <!-- Animate.css-->


    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  </head>
<body>
  <div class="loading-overlay" id="loadingOverlay">
    <div class="spinner"></div>
    <p>Cargando...</p>
  </div>
<header class="header fixed-top">
  <nav class="nav-2" >
    <div class="logo">
        <a href="#"><img src="{% static '/images/logo.webp'%}" alt=""></a>
    </div>
    <!-- Acciones de menú-->
    <div class="botones">
        {% if request.resolver_match.url_name == 'index' %}
        <a class="little-boton" data-original-color="black" href="{% url 'index' %}">INICIO</a>
        {% else %}
        <a class="boton" data-original-color="black" href="{% url 'index' %}">INICIO</a>
        {% endif %}

        {% if  request.resolver_match.url_name == 'servicios'  %}
          <a class="little-boton" data-original-color="black"  href="{% url 'servicios' %}">SERVICIOS</a>
        {% else %}
          <a class="boton" data-original-color="black"  href="{% url 'servicios' %}">SERVICIOS</a>
        {% endif %}

        {% if request.resolver_match.url_name == 'nosotros' or request.resolver_match.url_name == 'politicas' %}
          <a class="little-boton" data-original-color="black"   href="{% url 'nosotros' %}">NOSOTROS</a>
        {% else %}  
          <a class="boton" data-original-color="black"   href="{% url 'nosotros' %}">NOSOTROS</a>
        {% endif %}

        {% if request.resolver_match.url_name == 'contacto'    %}
          <a class="little-boton" data-original-color="black"  href="{% url 'contacto'%}">CONTACTO</a>
        {% else %}
          <a class="boton" data-original-color="black"  href="{% url 'contacto'%}">CONTACTO</a>
        {% endif %}
      {% if  request.resolver_match.url_name == 'pqrs' %}
      <a class="little-boton" data-original-color="black"  href="{% url 'pqrs' %}">PQRS</a>
      {% else %}
      <a class="boton" data-original-color="black"  href="{% url 'pqrs' %}">PQRS</a>

      {% endif %}
      <a class="boton" href="{% url 'blog' %}">BLOG</a>
    </div>
    {% if user.is_authenticated %}
        
        <div class="buton-cerrar">
            {% if usuario.foto_perfil %}
                <img class="imagen-perfil" onclick="perfil()" src="{{ usuario.foto_perfil.url }}" alt="">
            {% else %}
            
                <img class="imagen-perfil" onclick="perfil()"  src="{% static 'images/sin_foto.webp'%}" alt="">
            {% endif %}
            <ul class="lista-perfil" id="lista-perfil">
              <li class="imagen">
                {% if usuario.foto_perfil %}
                <img class="imagen-perfil" src="{{ usuario.foto_perfil.url }}" alt="">
                {% else %}
                
                <img class="imagen-perfil" src="{% static 'images/sin_foto.webp'%}" alt="">
                {% endif %}
            </li>
            <li class="informacion-perfil">
                <h4> {{ user.username }} </h4>
                
            </li>
            <li class="correo-perfil">
                <p> {{ user.email }} </p>
            </li>
            <div class="perfil-cerrar">
           
                  

                  <a href="{% url 'perfil' %}">
                    <i class="fa-solid fa-gear icons"></i>
                     &nbsp;Ajustes
               
                
            </li>
            <li>
                <a href=" {% url 'logout_view' %} ">
                    <i class="bi bi-box-arrow-left"></i>&nbsp; Cerrar Sesion
                </a>
            </li>
            </div>
            <li>
            
        </ul>
        </div>
    {% else %}
        <div class="buton">
            <button onclick="window.location.href='{% url 'login_view' %}' " type="button"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;INICIAR SESION</button>
        </div>
    {% endif %}
   
  </nav>
</header>
<br>

    <!-- Menú oculto-->
    <nav id="hidden-menu"  >  
        <input id="menu-open" name="menu" type="radio" />
        <input id="menu-close" name="menu" type="radio" />
        <label for="menu-open" class="open"><i class="fa-solid fa-angle-right"></i></label>
        <article class="expanded">
          
          <div class="title">Menú</div>
          <!-- Acciones menú -->
          <div class="links">
            <a href="{% url 'index'%}">INICIO</a></a>
            <a href="{% url 'servicios' %}">Servicios</a>
            <a href="{% url 'nosotros' %}">Nosotros</a>
            <a href="{% url 'contacto' %}">Contacto</a>
            <a href="{% url 'pqrs' %}">PQRS</a>

            <!-- Verificar si el usuario está logeado-->
            {% if user.is_authenticated %}
            <a href="{% url 'perfil' %}" > perfil </a>
            
              <a href="{% url 'logout_view' %}" class="person"><i class="fw-bold bi bi-box-arrow-left "></i>&nbsp; cerrar sesion</a>
          
              {% else %}
                <a href="{% url 'login_view' %}" class="person"><i class="fa-solid fa-right-to-bracket"></i> &nbsp; iniciar sesion</a>
            {% endif %}
           
          </div>
          <label for="menu-close" class="close"><i class="fa-solid fa-angle-left"></i> </label>
       
          <p>&copy; 2020 // PETROCENTRO S.A.S</p>
        </article>
    </nav>
    {% block contenido%} 
                
    {%endblock%}
    {% block sucribirse_blog %}
    <div class="subscribe-container">
      <div class="oil-drop"></div>
      <div class="oil-drop"></div>
      <div class="oil-drop"></div>
      <h2 class="subscribe-title">Suscríbete a Nuestro Blog</h2>
      <p class="subscribe-description">Recibe las últimas noticias y análisis de la industria.</p>
      <form id="subscribeForm" class="subscribe-form">
          <input type="email" id="emailInput" class="subscribe-input" placeholder="Tu correo electrónico" required>
          <button type="submit" class="subscribe-button">Suscribirse</button>
      </form>
      <div id="messageBox" class="message" style="display: none;"></div>
  </div>
  
    {% endblock sucribirse_blog %}
    <hr>
    <!-- Pie de página-->
    <footer >

        <!-- Primer sección del pie de página-->
         <section class="pie_pagina">
        <div class="grupo1">
            <div class="box">
              <figure>
                
                      <a href="index2.html">
                      <img class="img-fluid" src="{% static '/images/logo.webp'%}" alt="logotipo de Petrocentro S.A.S">
                      </a>
                
                  <div class="red_social  ">
                    <a href="#" > &nbsp; <i class="fa-brands fa-facebook"> &nbsp; </i></a>
                    <a href="https://www.instagram.com/petrocentrosas/" > &nbsp; <i class="fa-brands fa-instagram"> &nbsp; </i></a>
                    <a href="https://www.youtube.com/channel/UCUxezbHPb1e5seChlAnSb7A" > &nbsp; <i class="fa-brands fa-youtube"> &nbsp; </i></a>
                    <a href="https://www.linkedin.com/company/petrocentro-sas/" > &nbsp; <i class="fa-brands fa-linkedin"></i>  </a>
                  </div>
              </figure>
            </div>
            <div class="box2">
              <h3>Datos de Contacto</h3>
              <p> <span class="telefono">TELEFONO:</span> +57 313 841 4053</p>
              <p> <span class="email">EMAIL : </span>gerenciaoperaciones@petrocentro.co</p>
              <p> <span class="ubicacion">UBICACIÓN :</span> Pirámide Siete II, Avenida Calle 127 #13-96, Bogotá, Colombia</p>
            
            </div>
            <div class="box3 " >
            <h3>Mapa del Sitio</h3>
            
            <div class="mapa" >
                
                <div class="indice-pagina1 row" >
                    <a href="{% url 'index'%}">INICIO</a>
                    <a href="{% url 'servicios'%}">SERVICIOS</a>
                </div>
                <div class="indice-pagina2 row">
                    <a href="{% url 'nosotros'%}">NOSOTROS</a>
                    <a href="{% url 'contacto'%}">CONTACTO</a>
                    <a href="{% url 'pqrs'%}">PQRS</a>
                </div>
           
            </div>
        </div>
      </section>
        <!-- Segunda seccion del pie de pagina-->
        <div class="grupo2">
           
            <small >
              <hr>
            &copy; 2020 <b>Petrocentro S.A.S</b> - Todos Los Derechos Reservados.
            </small>
        </div>
        
        
    </footer>

    <!-- Boton Flotante del WhatsApp-->
    <div class="whatsapp_chat_support wcs_fixed_right" id="button-w">
        <div class="wcs_button_label">
              Contáctanos
        </div>  
      <div class="wcs_button wcs_button_circle">
          <span class="fa fa-whatsapp"></span>
      </div>  
   
      <div class="wcs_popup">
          <div class="wcs_popup_close">
              <span class="fa fa-close"></span>
          </div>
          <div class="wcs_popup_header">
            <span class="fa fa-whatsapp"></span>

            <strong>Servicio al cliente</strong> 
            <div class="wcs_popup_header_description">¿Necesidad de ayuda? Chatea con nosotros en Whatsapp</div>
  
          </div>  
          <div class="wcs_popup_input" 
              data-number="3138414053"
              data-availability='{ "monday":"08:30-17:30", "tuesday":"08:30-17:30", "wednesday":"08:30-17:30", "thursday":"08:30-17:30", "friday":"08:30-17:30", "saturday":"09:00-18:30"}'>
              <input type="text" placeholder="Escribir pregunta!" />
              <i class="fa fa-play"></i>
          </div>
          <div class="wcs_popup_avatar">
              <img src="{% static "/images/logo1.webp" %}" alt="">
          </div>
      </div>
    </div>
    
    <!-- Scripts -->
    <script src="{% static 'js/script.js'%}"></script>
    <!--Script de whatsapp-->

    <!-- jQuery 1.8+ -->
    <script src="{% static '/plugin/components/jQuery/jquery-1.11.3.min.js'%}"></script>
    <!-- Plugin JS file WhatsApp -->
    <script src="{% static '/plugin/components/moment/moment.min.js'%}"></script>
    <script src="{% static '/plugin/components/moment/moment-timezone-with-data.min.js'%}"></script> <!-- spanish language (es) -->
    <script src="{% static '/plugin/whatsapp-chat-support.js'%}"></script>
    <script>
      $('#button-w').whatsappChatSupport({
          defaultMsg : '',
      });
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% block script %}{% endblock  %}
    <script src="{% static 'js/suscribeForm.js' %}"></script>
    <!-- AOS script-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

          {% if messages %}
          // Recorrer los mensajes que llegan de las vistas 
          {% for message in messages  %}

              {% if message.tags == 'success' %}
                  Swal.fire({
                      icon:'success',
                      title: 'Exito',
                      text: '{{ message }}',
                  });
              {% elif message.tags == 'error' %}
                  Swal.fire({
                      icon: 'warning',
                      title: 'warning',
                      text: '{{ message }}',
                  });
              {% else %}
              Swal.fire({
                      icon: 'warning',
                      title: 'Atención',
                      text: '{{ message }}',
                  });
              {% endif %}
          {% endfor %}
      {% endif %}
      window.addEventListener('scroll', function(){
        
        var header = document.querySelector('header');
        const botones = document.querySelectorAll('.boton');
        header.classList.toggle('header-nav',window.scrollY>0)

        // Itera sobre los elementos y agrega la clase "header-nav"
        botones.forEach(function(boton) {
          boton.classList.toggle('header-nav',window.scrollY>0)
          var colorOriginal = boton.getAttribute('data-original-color');
            
          if(window.scrollY > 0){
              boton.style.color = 'black';
            }else{
              boton.style.color = colorOriginal;
                
            }
          
        });
       
        

        if (window.scrollY > 0){
          
          header.style.transition= 'All 400ms ease-out'
          header.style.backgroundColor = '#ffffff';
          header.style.height = '60px';
          
        }
        else{
          header.style.backgroundColor = 'transparent';
          

        }
        
      })
      function perfil(){
        document.getElementById("lista-perfil").classList.toggle("active-perfil");

    }
    window.onkeyup = function(e){
      var perfil = document.getElementById("lista-perfil");
      if (e.key === "Escape") {
        perfil.classList.remove("active-perfil");
      }
    }
    window.onclick = function(e){
      var perfil = document.getElementById("lista-perfil");
      if (e.target == perfil) {
        perfil.classList.remove("active-perfil");
      }
    }
    </script>
    <!-- Script bootstrap -->

</body>
</html>