
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Russo+One&display=swap');
body{
  background-color: rgba(0, 0, 0, 0.877);
}
.error-img-letras{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
}
svg{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(4px 4px 4px rgb(0, 0, 0));
  }
  .aurora1{
    fill: #000000;
    transform-origin: center center;


  }
  .aurora2{
    fill: rgb(9, 129, 63);
    transform-origin: center center;

    bottom: 500px;
    height: 100%;
    width: 100%;
    animation: moveAurora 2s ease-in-out infinite alternate

  }

  .bolita-centro{
   
    fill: #fffefe00;
    transition: all 500ms linear ;
    animation: aparecer 2s ease-in-out infinite ;
  }
  .bolita-centro1{
   
    fill: #00a2ff;
 
    animation: moveAurora 2s ease-in-out infinite alternate ;
  }

  .soporte-medio{
    fill: #00000056;
    transform-origin: center center;

    animation: aparecer 2s ease-in-out infinite alternate ;

    opacity: 0;
    visibility: hidden;
  }
  
  .rueda-inferior1{
    fill: #a1a1a1;
    transform-origin: center center;
     
    height: 100%;
    width: 100%;
    animation: moveRueda 2s ease-in-out infinite alternate;
  }
  .rueda-inferior{
    fill: #00000056;
    transform-origin: center center;
     z-index: -99;
    height: 100%;
    width: 100%;
    
  }

  .letra{
    width: 100%;
  }
  .letra h1{
    color: #ebebeb;
  }

  .letra p{
    color: #ebebeb;
    margin-top: 20%;
    font-size: 20px;
  }

  .error-404 h1{
    height: 100px;
    font-size: 100px;
    letter-spacing: 15px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .error-0{
    color: mediumseagreen;
  }

  .error-button{
    width: 200px;
    height: 50px;
    background-color: mediumseagreen;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    margin-top: 20px;
  }

  .bola{
    width: 100%;
    height: 100vh;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -99;
    box-shadow: 2px 2px 4px rgb(255, 255, 255);
  }
  @keyframes moveRueda {
    from {
        transform: translateX(1000);
        
    }
    to {
      
      transform: translateY(900px);
    }
  }
  
  @keyframes moveAurora {
    from {
      transform: translate(1000);
    }
    to {
      transform: translate(1000px);
        
    }
  }

 
#viewer svg{
    animation: rotacion 2s linear infinite alternate; 
 }

 @keyframes rotacion {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
    
 }

@media screen and (max-width:1200px) {

  .error-img-letras{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }
}

@media screen and (max-width: 1000px) {
  .error-img-letras{
    width: 100%;
    height: 100%;
    display: grid;
    margin-top: 0;
    grid-template-columns: repeat(1, 1fr);

  }
  svg{
    padding-top: -100px;
    width: 60%;
    margin: auto;
    filter: drop-shadow(4px 4px 4px rgb(0, 0, 0));
  }
  .letra{
    margin-top: -100px;
    width: 100%;
    text-align: center;
  }
  
  .letra p{
    color: #ebebeb;
    margin-top: 0;
    font-size: 20px;
  }

}
 @media screen and (max-width: 600px) {
    .error-img-letras{
      width: 100%;
      height: 100%;
      display: grid;
      margin-top: 0;
      grid-template-columns: repeat(1, 1fr);

}
    svg{
      position: absolute;
      top:100px;
      width: 90%;
      margin: auto;
      z-index: -99;
      filter: drop-shadow(4px 4px 4px rgb(0, 0, 0));
}
  .letra{
    margin-top: 100px;
    width: 100%;
    text-align: center;
  }
  
  .letra p{
    color: #ebebeb;
    margin-top: 0;
    font-size: 20px;
  }

  .error-404 h1{
    height: 50px;
    font-size: 100px;
    letter-spacing: 15px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .error-0{
    color: mediumseagreen;
  }

  .error-button{
    width: 200px;
    height: 50px;
    background-color: mediumseagreen;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    margin-top: 20px;
  }
 }

 @media screen and (max-width: 360px) and (max-height: 568px) {

  svg{
    position: absolute;
    top:0px;
    width: 90%;
    margin: auto;
    z-index: -99;
    filter: drop-shadow(4px 4px 4px rgb(0, 0, 0));
}
  .letra{
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
  .error-404 h1{
    height: 50px;
    font-size: 100px;
    letter-spacing: 8px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 }