.header{
        background-color: white;
}
body{
        font-family: 'Helvetica';
}
.image-blog {
        position: relative;
        display: inline-block;
        width: 100%; /* Asegura que el contenedor sea responsivo */
        height: 500px;
    }

.post-cabecera{
        position: absolute;
        text-transform: uppercase;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        text-align: center;
        background: rgba(0, 0, 0, 0.397); 
        padding: 10px;
        border-radius: 4px; 
}
.buscar-post {
        top: 90%; 
        left: 50%; 
        position: absolute;
        margin-top: -20px; /* Espacio entre el título y la búsqueda */
        transform: translate(-40%, -40%); 
        width: 70%;
        display: grid;

        grid-template-columns: repeat(2, 80% 80px);
    }
    
.buscar-post input {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;
}
.buscar-post button{
text-align: center;

color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
height: 46px;

}
    
.post-cabecera h1{
        color: rgb(255, 255, 255);
        font-size: 54px;
        font-weight: 700;
}
.imagen-post{
        margin: auto;
        width: 100%;
        height: 500px;

}
.imagen-post img{
        object-fit: cover;
        width: 100%;
        height: 100%;
}
.articulos-post{
        
        border-top: 2px solid #000000;
        height: 150px;
        margin: auto;
        width: 50%;
        margin-bottom: 15px;
}
.articulos-post h1{
        padding-top: 20px;
        text-align: center;
        font-weight: 600;
}
.post{
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row: 10px;
        margin-bottom:15px ;
        
}
.post .post-articulo{
        width: 100%;
        margin: auto;
        object-fit: cover;
}
.post .post-articulo:hover{
        border: 1px solid #000000;
}

.post .post-articulo .image-post{
        width: 100%;
        height: 300px;
        object-fit: cover;
}

.post-articulo-completo{
        margin: auto;
        padding: 20px;
        width: 95%;
        text-align: center;
}
.post-fecha{
        font-size: 12px;
}

.post-titulo{
        font-weight: 600;
}

.post-detail-blog{
        width: 900px;
        margin:auto;
        font-size: 14px;
}
.creador-post{
        padding-left: 30px;
}
.creador-post-detail{
        margin:auto;    
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(2,60px 80%);
}
.post-creador-foto{
        width: 10px;
}
.post-creador-nombre{
       display: flex;
       align-items: center;
}
.post-creador-nombre .nombre-creador{ 
        font-weight: 700;
        margin-left: 10px;
}
.post-creador-nombre .fecha{
        font-weight: 500;
        color: #505050e3;
} 

.imagen-post-detail{
        margin: auto;
        text-align: center;
}
.imagen-post-detail img{

        padding-top: 25px;
        width:90%;

        object-fit: cover;
}
.descripcion-post-detail{
        margin: auto;
        text-align: justify;
        width: 90%;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        padding-top: 25px;
}
.contenido-post-detail{
        margin: auto;
        width: 95%;
        padding: 20px;
}


/*Post no encontrado. */
.post-no-encontrado{
        margin: auto;
        width: 900px;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
}
.post-no-encontrado img{
        width: 300px;
        height: 300px;
        object-fit: cover;
}

/*Paginación lista de los blogs.  */

.paginacion{
        margin: auto;
        width: 900px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
}
.paginacion .anterior{
        text-align: end;
      
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        
        color: white;   
}
.paginacion .anterior .btn{
        background-color: #ffffff;
        border: 2px solid  #4CAF50;
        border-radius:2px ;
        color: #4CAF50;
}
.paginacion .anterior .btn:hover{
        background-color: #4CAF50;
        border: 2px solid  #ffff;
        border-radius:2px ;
        color: #ffffff;
}
.paginacion .siguiente{

        text-align: start;
        padding: 10px;
        cursor: pointer;

}
.paginacion .siguiente .btn{
        background-color: #4CAF50;
        border-radius:2px ;
        color: white;
        width: 150px;
}
.paginacion .siguiente .btn:hover{
        background-color: #ffffff;
        border-radius:2px ;
        border: 2px solid #4CAF50;
        color: #4CAF50;
        width: 150px;
}

/*suscripcion al blog informativo  */

.responsive-img {

        max-width: 100%;
        height: auto;
        
    }
.responsive-video {
position: relative;
padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
height: 0;
margin: auto;
overflow: hidden;
max-width: 90%;
background: #000;
}

.responsive-video iframe,
.responsive-video embed,
.responsive-video video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media screen and ( max-width: 900px){
        .post-no-encontrado{
                width: 100%;
        }
        .post-detail-blog{
                width: 100%;
        }
        .formulario_crear_post {
                width: 100%;
        }
        .paginacion{
                width: 100%;
        }
        .suscribirse-blog-informativo{
                width: 100%;
        }
}

@media screen and (max-width: 768px) {
        .post-no-encontrado img{
                width: 70%;

        }
        .buscar-post {
                width: 80%; 
                left: 40%;
            }
        .post-cabecera h1{
                        font-size: 2.5rem;  
        }
        .articulos-post{
                height: 150px;
                margin: auto;
                width: 100%;
                margin-bottom: 15px;
        }
        .post{
                grid-template-columns: 1fr;
        }
        .post-articulo-completo{
                width: 80%;
  
        }
        .creador-post{
                padding-left: 80px;
        }
        .creador-post-detail{
                margin: auto;
                grid-template-columns: repeat(2,60px 50%);
        }
}

@media screen and (max-width: 500px) {
        .post-articulo-completo{

                width: 100%;

        }
        .creador-post{
                padding-left: 30px;
        }
}