{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titulo%} {% endblock %} </title>

    <!-- Links css-->
    <!-- Link del css de toda la página-->
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">


    <!-- Link  de bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Links css del carousel-->

    <!-- Links de FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css" integrity="sha512-U9Y1sGB3sLIpZm3ePcrKbXVhXlnQNcuwGQJ2WjPjnp6XHqVTdgIlbaDzJXJIAuCTp3y22t+nhI4B88F/5ldjFA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static '/plugin/components/Font Awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static '/plugin/whatsapp-chat-support.css'%}">
</head>
<body>

  
    <!-- Barra de navegacion lateral izquierda -->
    <nav class="sidebar" id="sidebar">
        <!-- Logo-->
        <a href=""> <img src="{% static 'images/logo.webp'%}" alt=""></a>
        <button class="x" onclick="toggleSidebar()" > <i class="fa-solid fa-angle-left"></i> </button>
        <!-- Acciones de menu -->
        <div class="menu-content">

            <ul class="menu-items">
                <div class="menu-title">
                    Menu
                </div>
            
   
                {% if  nombre_rol != 'Administrador'  %}
                
                <li class="item">
                    <i class="fa-solid fa-house icons"></i>
                    <a href="{% url 'index' %}"> &nbsp;Inicio</a>
                </li>
                
                    {% if usuarios == 1  %}

                        <li class="item">
                            <i class="fa-solid fa-house-user icons"></i>
                            <a href="{% url 'usuarios' %}"> &nbsp;Usuarios</a>
                        </li>
                    {% endif %}
                {% elif nombre_rol == 'Administrador' %}
                        <li class="item">
                            <i class="fa-solid fa-house icons"></i>
                            <a href="{% url 'index' %}"> &nbsp;Inicio</a>
                        </li>
                        {% if request.resolver_match.url_name == 'crear_post_view' %}
                        <li class="active-side">
                            <i class="fa-solid fa-circle-plus icons"></i>
                            <a href="{% url 'crear_post_view' %}"> &nbsp; Posts</a>
                        </li>
                        {% else %}
                            <li class="item">
                                <i class="fa-solid fa-circle-plus icons"></i>
                                <a href="{% url 'crear_post_view' %}"> &nbsp; Posts </a>
                            </li>
                        {% endif %}
                
                        
                        {% if usuarios == 1  %}

                            <li class="item">
                                <i class="fa-solid fa-house-user icons"></i>
                                <a href="{% url 'usuarios' %}"> &nbsp;Usuarios</a>
                            </li>
                        {% endif %}

                        {% if request.resolver_match.url_name == 'nosotros_conf' %}
                            <li class="active-side">
                                <i class="fa-solid fa-people-roof icons "></i>
                                <a href="{% url 'nosotros_conf' %}"> &nbsp; Nosotros</a>
                            </li>
                        {% else %}
                            <li class="item">
                                <i class="fa-solid fa-people-roof icons "></i>
                                <a href="{% url 'nosotros_conf' %}"> &nbsp; Nosotros</a>
                            </li>
                        {% endif %}
                  
                        {% if request.resolver_match.url_name == 'asignar_roles' %}

                            <li class="active-side">
                                <i class="fa-solid fa-rotate icons"></i>
                                <a href="{% url 'asignar_roles' %}">Roles</a>
                            </li>
                        {% else %}
                            <li class="item">
                                <i class="fa-solid fa-rotate icons"></i>
                                <a href="{% url 'asignar_roles' %}">Roles</a>
                            </li>
                        {% endif %}
                {% else %}
                <li class="item">
                    <i class="fa-solid fa-house icons"></i>
                    <a href="{% url 'index' %}"> &nbsp;Inicio</a>
                </li>
                {% endif %}
                <hr>

                <!-- Perfil -->
                {% if request.resolver_match.url_name == 'perfil' %}

                    <li class="active-side">
                        <i class="fa-solid fa-user-pen icons"></i>
                        <a href="{% url 'perfil' %} ">&nbsp;Perfil</a>
                    </li>
                {% else %}
                    <li class="item">
                        <i class="fa-solid fa-user-pen icons"></i>
                        <a href="{% url 'perfil' %} ">&nbsp; Perfil</a>
                    </li>
                {% endif %}
                
                
                <li class="item2">
                    <a href="{% url 'logout_view' %} ">&nbsp;Cerrar Sesion</a>
                </li>
                <li class="item2 ">
                    <br>
                  <div class="perfil">
                    {% if usuario.foto_perfil %}
                    
                    <img src="{{ usuario.foto_perfil.url }}" alt="{{ usuario.foto_perfil }}">
                    {% else %}
                    
                    <img src="{% static 'images/sin_foto.webp' %}" alt="">
                    {% endif %}
                  </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Barra de navegación superior -->
    <nav class="navbar">
        
        <!--Acciones de Menú -->
        <div class="items-navbar">
            <div class="toggle-sidebar" >
                <button class="toggle-bar" id="toggle-sidebar" onclick="toggleSidebar()"><i class="fa-solid fa-bars"></i> </button>
            </div>
            <div class="nombre">
               
                <h2> &nbsp; {% block nombre_pagina %}{% endblock %}</h2>
            </div>
            <div class="ajustes">
             
           
                <div class="notificaciones">
                    <a href=""><i class="fa-regular fa-bell"></i></a>

                </div>
                <div class="perfil " id="perfil"  >
                    {% if usuario.foto_perfil %}
                        <img onclick="perfil()"  src="{{ usuario.foto_perfil.url }}" alt="">
                    {% else %}
                        <img onclick="perfil()"  src="{% static 'images/sin_foto.webp' %}" alt="">

                    {% endif %}
                    
                    <ul class="lista-perfil" id="lista-perfil">
                        {% if usuario.foto_perfil %}
                            <li class="imagen">

                                <img class="imagen-perfil" src="{{ usuario.foto_perfil.url }}" alt="">
                            </li>
                        
                        {% else %}
                            <li class="imagen">

                                <img class="imagen-perfil" src="{% static 'images/sin_foto.webp ' %}" alt="">
                            </li>
                        {% endif %}
                            <li class="informacion-perfil">
                                <h4>{{ user.username }}</h4>
                                
                            </li>
                            <li class="correo-perfil">
                            
                                <p>{{ user.email }}</p>
                            </li>
                        
                            <div class="perfil-cerrar">
                                <a href="{% url 'perfil' %}">
                                    <i class="fa-solid fa-user-pen "></i>
                                    &nbsp;Perfil
                                </a>
                                
                            </li>
                            <li>
                                <a href="{% url 'logout_view' %}">
                                    <i class="fa-solid fa-right-to-bracket"></i> &nbsp; Cerrar Sesion
                                </a>
                            </li>
                            </div>
                            <li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </nav>
  
    <!-- Relleno de la página -->
    <div class="dash-relleno">

        <div class="loading-overlay" id="loadingOverlay">
            <div class="spinner"></div>
            <p>Cargando...</p>
        </div>
        {% block contenido  %}

        {% endblock  %}
    </div>
        <!-- Link de script bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- Link de sweetAlert-->
    
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
        <!-- jquery-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
        <!-- Link de selección múltiple-->
        <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/js/multi-select-tag.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    {% block script %}  
    {% endblock %}

    <script>
        
            {% if messages %}
            // Recorrer los mensajes que llegan de las vistas 
            {% for message in messages  %}

                {% if message.tags == 'success' %}
                    Swal.fire({
                        icon:'success',
                        title: 'Exito',
                        text: '{{ message }}',
                    });
                {% elif message.tags == 'error' %}
                    Swal.fire({
                        icon: 'warning',
                        title: 'warning',
                        text: '{{ message }}',
                    });
                {% else %}
                Swal.fire({
                        icon: 'warning',
                        title: 'Atención',
                        text: '{{ message }}',
                    });
                {% endif %}
            {% endfor %}
        {% endif %}

        //funcion para preguntar si esta seguro de editar
      
       //Funcion para desplegar el menu de opciones del perfil
       function perfil(){
        document.getElementById("lista-perfil").classList.toggle("active-perfil");
    }
    
    //Funcion para cambiar el icono de la carpeta al presionarla

    
    //Funcioon para desplegar la barra lateral 
    function toggleSidebar(){
        document.getElementById("sidebar").classList.toggle("active-sidebar");
    }
    

    
    // Al presionar el boton de desplegar, va a poner en funcionamiento las funciones 

    
    </script>


  
</body>
</html>